.layout {
    display: flex;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #811414, #1C1C1C);
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    border-right: 1px solid rgba(255,255,255,0.25);
    padding: 20px 0;
    position: fixed;
    height: 100vh;
}

.sidebar-header {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.logo {
    width: 60px;
}

.sidebar nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin: 6px 12px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 500;
}

.sidebar nav a:hover {
    background: rgba(255,255,255,0.25);
}

.sidebar nav a.active {
    background: #e94545;
}

.logout {
    margin-top: 20px;
    background: rgba(255,0,0,0.15);
}

/* MAIN */
.main-content {
    margin-left: 230px;
    padding: 40px;
    color: white;
    width: 100%;
}
