<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="/assets/img/logo_ULEAM_2017_vertical.png" class="logo">
      <h3>ULEAM</h3>
    </div>

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">🏠 Panel Principal</a>
      <a routerLink="/usuarios" routerLinkActive="active">👥 Usuarios</a>
      <a routerLink="/revistas" routerLinkActive="active">📚 Revistas</a>
      <a routerLink="/articulos" routerLinkActive="active">📝 Artículos</a>
      <a routerLink="/revisiones" routerLinkActive="active">✅ Revisiones</a>
      <a routerLink="/" class="logout">🚪 Cerrar Sesión</a>
    </nav>
  </aside>

  <!-- CONTENIDO DINÁMICO -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>
